* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
}

html {
	position: relative;
	min-height: 100%;
	font-size: 20px;
	color: #fff;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

body {
	font-family: 'Oxygen', sans-serif, arial;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

/* TEXT */

h1,
h2 { font-weight: 300; }

h1 { font-size: 250%; }

h2 { font-size: 150%; }

h3 {
	font-size: 100%;
	font-weight: 400;
}

a { text-decoration: none; }

.cap { text-transform: capitalize; }

/* BUTTONS */

.btn {
	/* There's gotta be a much better way to do this:; */
	/*margin-top: 5px;*/
	/*margin-left: 100px;*/
	/*margin: 0 auto;*/
	font-weight: 400;
}

/*The links will look the same before and after they've been clicked:*/
.btn:link,
.btn:visited,
input[type=submit] {
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	border-radius: 200px;
	-webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
	transition: background-color 0.2s, border 0.2s, color 0.2s; /* Transition takes 0.2 seconds. */
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
	background-color: #e67e22;
	border: 2px solid #e67e22;
	color: #fff;
	/*margin-right: 15px;*/
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 2px solid #e67e22;
	color: #e67e22;
}

/* Button color darkens when hovered or clicked: */
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
	background-color: #cf6d17;
}

/* Adds border when hovered or clicked, for consistency with btn-ghost: */
.btn-full:hover,
.btn-full:active,
input[type=submit] {
	border: 2px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
	border: 2px solid #cf6d17;
	color: #fff;
}

/* MAIN NAV */

nav {
	margin-bottom: 0px;
	padding: 0;
	border: none;
	background: linear-gradient(rgba(256, 256, 256, 0.5), rgba(256, 256, 256, 0));
}

/* Nav-Left */

#logo {
	max-height: 42px;
	margin: 5px 10px -10px 50px;
	display: inline-block; /* Position the logo next to the text: */
}

.nav-left {
	font-size: 140%;
	line-height: 42px;
	color: #000 !important;
	display: inline-block;
}

.nav-left a:visited { color: #000 !important; }

/* Nav-Right */

.nav-right {
	float: right;
	list-style: none; /* Remove bullet points */
	margin: 10px 50px 0 50px;
}

.nav-right li {
	display: inline-block;
	margin-left: 40px;
}

.nav-right li a:link,
.nav-right li a:visited {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
	border-bottom: 2px solid transparent;
	-webkit-transition: border-bottom 0.2;
	transition: border-bottom 0.2;
	padding: 8px 0;
}

.nav-right li a:hover,
.nav-right li a:active {
	border-bottom: 2px solid #e67e22;
}

.mobile-nav-icon {
	display: none; /* Default. Only displays when media queries kick in. */
	cursor: pointer;
	float: right;
	margin-top: 15px;
	margin-right: 30px;
}

.mobile-nav-icon i {
	font-size: 150%;
}

/* Get the nav_list id and its two child elements: */
/*#nav_list > li > a {*/
	/*color: #4aa1f3 !important;*/
	/*font-weight: 500;*/
/*}*/




/* INDEX */

.banner {
	width: 1050px;
	min-height: 175px;
	margin: 50px auto;
	padding: 6px;
}

.banner-text {
	padding-top: 30px;
	text-align: center;
}

.categories {
	text-align: center;
	letter-spacing: 2px;
	/*margin-top: 50px auto;*/
	padding-top: 20px;
	/*padding-bottom: 30px;*/
}

/*ul#list_item {
	color: white;
	font-size: 35px;
	text-align: center;
	list-style: none;
}*/

/*ol ol,ol ul,ul ol,ul ul {margin-bottom:0}*/

/*.list-unstyled {
	padding-left: 0;
	list-style: none;
}*/

/*.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}*/

/*.list-inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}*/

.description {
	width: 75%;
	margin: 100px auto;
}

.description-col {
	display: inline-block;
	vertical-align: top;
	min-height: 210px;
	margin: 0 4px;
	padding: 15px;
	border-radius: 5px;
	/* Shaded background divs fade out when screen is full size: */
	background: rgba(0, 0, 0, 0);
	transition: background 1.5s;
}

.intro {
	line-height: 170%;
	text-align: justify;
	font-size: 90%;
	font-weight: 400;
	letter-spacing: 1px;
}

.btn-padding { padding-top: 20px; }

.open-logo {
	height: 20px;
	margin-bottom: -5px;
}

/* CURRENT & FORECAST PAGES */

.jumbo {
	text-align: center;
	margin: 25px auto 0 auto;
}

.main {
	margin: 0 auto;
	text-align: center;
}

.main h2 { margin-bottom: 30px; }

#cityDiv {
	width: 60%;
	margin: auto;
	margin-bottom: 40px;
	text-align: center;
}

/* INPUT FIELDS */

input[type="text"] {
	font-size: 125%;
	padding: 10px;
	border-radius: 10px;
	margin: 15px;
}

.submitAll { margin-left: 15px; }

/* Error Handling */
#red {
	animation-name: red;
	animation-duration: 0.07s;
	animation-iteration-count: 12;
	animation-direction: alternate;
}

@keyframes red {
	from { color:  }
	to { color: #FF5049 }
}
/* End Error Handling */

#showWeather {
	width: 60%;
	margin: auto;
	margin-bottom: 40px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 6px;
}

.weather-text { text-align: center; }

#weather-text-top {
	padding-top: 20px;
	font-size: 30px;
}

#weather-text-bottom { padding-bottom: 30px; }

#table-header {	margin-bottom: 40px; }

table {
	border-collapse: collapse;
	margin: 0 auto 100px auto;
}

th,
td {
	border: 1px solid #fff;
	font-size: 90%;
	text-align: center;
}

th {
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
}

td {
	background: rgba(0, 0, 0, 0.5);
	font-weight: 300;
	padding-left: 8px;
	padding-right: 8px;
}

footer a:link,
footer a:visited {
	color: #fff;
	text-decoration: none; /* No default underline */
	border-bottom: 1px solid #fff; /* Our own custom underline */
	/*padding-bottom: 1px;*/ /* Space for underline */
	-webkit-transition: border-bottom 0.2s, color 0.2s;
	transition: border-bottom 0.2s, color 0.2s; /* Transition takes 0.2 seconds. */
}

/* FOOTER */

footer a:hover,
footer a:active {
	color: #c0c0c0;
	border-bottom: 1px solid transparent;
}

footer {
	width: 100%;
	height: 80px;
	position: absolute;
	left: 0;
	bottom: 0;
	padding-top: 15px;
	
	font-size: 75%;
	font-weight: 400;
	text-align: center;
	
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}