/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* MAIN CODE */

.about-section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.background_theme_wood-panel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 575.98px) {

  .background_theme_wood-panel {
    background-image: url(../img/background/_theme/_wood-panel/576x384-min.jpg);
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .background_theme_wood-panel {
    background-image: url(../img/background/_theme/_wood-panel/768x512-min.jpg);
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {

  .background_theme_wood-panel {
    background-image: url(../img/background/_theme/_wood-panel/992x661-min.jpg);
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .background_theme_wood-panel {
    background-image: url(../img/background/_theme/_wood-panel/1200x800-min.jpg);
  }

}

@media (min-width: 1200px) {

  .background_theme_wood-panel {
    background-image: url(../img/background/_theme/_wood-panel/2500x1667-semi-min.jpg);
  }

}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bio__img {
  margin-bottom: 16px;
  width: 100%;
}

.bio__left {
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {

  .bio__left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

}

.bio__left_effects {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: bio__left_effects;
          animation-name: bio__left_effects;
}

/* fadeInLeft*/
@-webkit-keyframes bio__left_effects {
  
  from {
    opacity: 0;
    -webkit-transform: translate3d( -100%, 0, 0 );
            transform: translate3d( -100%, 0, 0 );
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

@keyframes bio__left_effects {
  
  from {
    opacity: 0;
    -webkit-transform: translate3d( -100%, 0, 0 );
            transform: translate3d( -100%, 0, 0 );
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

.bio__right {
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {

  .bio__right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

}

.bio__right_effects {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: bio__right_effects;
          animation-name: bio__right_effects;
}

/* fadeInRight*/
@-webkit-keyframes bio__right_effects {
  
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

@keyframes bio__right_effects {
  
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

.bio__text {
  font-family: 'PT Sans', sans-serif;
  margin: 0 0 1em 0;
  text-align: justify;
}

@media (min-width: 768px) {

  .bio__text {
    margin: 0 1em 1em 1em;
    padding-left: 1em;
  }

}

.bio_layout {
  padding-bottom: 50px;
}

.body {
  margin: 0;
}

.body__project-container {
  overflow: hidden; /* Prevents the header video from going wider than the rest of the project */
  position: relative;
  width: 100%;
}

.body_about-me {
  margin: 0;
  padding: 0;
}

.center__1140 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
  width: 100%;
}

.certificate {
  display: block;
  position: relative;
}

.certificate__body {
  background: rgba(0, 0, 0, .7);
  border: none;
  border-bottom: 8px solid #3c6221;
  border-radius: 0;
  margin-bottom: 4em;
  padding: 1em;
}

.certificate__body_title {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  text-align: center;
}

.certificate__content {
  -webkit-box-shadow: 15px 15px 15px 1px rgba(0, 0, 0, .5);
          box-shadow: 15px 15px 15px 1px rgba(0, 0, 0, .5);
}

.certificate__img {
  display: block;
  width: 100%;
}

.certificate_flex-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 576px) {

  .certificate_flex-item {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }

}

@media (min-width: 768px) {

  .certificate_flex-item {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

}

@media (min-width: 992px) {

  .certificate_flex-item {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }

}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexbox_layout_certificates {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
  padding: 4em 0 0 0;
}

.flexbox_layout_professional-references {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 4em 0;
}

.flexbox_layout_skills {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 2em 0;
}

/* FONT SIZES */

/* Fixed root font size for smallest screens */
html {
  font-size: 16px;
}

.font_size_body {
  font-size: 16px;
}

/* Font Ratio 1.125 (Major Second) for smallest screens */
.font_size_1 {
  font-size: 1em;
}

.font_size_2 {
  font-size: 1.125em;
}

.font_size_3 {
  font-size: 1.266em;
}

.font_size_4 {
  font-size: 1.424em;
}

.font_size_5 {
  font-size: 1.602em;
}

.font_size_6 {
  font-size: 1.802em;
}

@media (min-width: 800px) {
  
  /* Fluid root font size for medium screens and up */
  html {
    font-size: 2vw;
  }

  /* Font Ratio 1.250 (Major Third) for larger screens */
  .font_size_2 {
    font-size: 1.25em;
  }

  .font_size_3 {
    font-size: 1.563em;
  }

  .font_size_4 {
    font-size: 1.953em;
  }

  .font_size_5 {
    font-size: 2.441em;
  }

  .font_size_6 {
    font-size: 3.052em;
  }

}

/* Max Root Font Size */
@media (min-width: 1140px) {
  html {
    font-size: 22.8px;
  }
}
/* END FONT SIZES */

.footer__copyright {
  padding: 0 15px 2rem 15px;
}

.footer__copyright_text {
  font-family: 'PT Sans', sans-serif;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  text-align: center;
}

.footer__icon {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  margin-bottom: 50px;
  max-width: 50%;
  min-height: 1px;
  position: relative;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {

  .footer__icon {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }

}

.footer__icon_effects {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: footer__icon_effects;
          animation-name: footer__icon_effects;
}

.footer__icon {
  opacity: 0; /* Invisible before animations are triggered */
}

.footer__icon.footer__icon_effects {
  opacity: 1; /* Remains visible after animations are complete */
}



/* fadeInUp */
@-webkit-keyframes footer__icon_effects {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

@keyframes footer__icon_effects {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

.footer__icon_icon {
  font-size: 57px;
  margin-bottom: 10px;
  text-align: center;
}

.footer__icon_link {
  color: #808080;
  text-decoration: none;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.footer__icon_link:active,
.footer__icon_link:hover {
  color: #fff;
}

.footer__icon_text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.footer__icon-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0 20px 0;
}

.footer_theme_black {
  background: #000;
  color: #808080;
}

.heading__title-overflow {
  margin: 0 2em;
  overflow: hidden;
  text-align: center;
}

.heading__title-tag {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.heading__title-tag_title {
  display: inline;
  font-weight: 300;
  position: relative;
  text-transform: uppercase;
}

.heading__title-tag_title::before,
.heading__title-tag_title::after {
  border-top: 1px solid #808080;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
}

.heading__title-tag_title::before {
  margin-right: 20px;
  right: 100%;
}

.heading__title-tag_title::after {
  left: 100%;
  margin-left: 1rem;
}

.heading_theme_black {
  background: #000;
  color: #808080;
  padding: 1.5rem .5rem;
}

.heading_theme_clear {
  padding: 20px 0 30px 0;
}

.link,
.link:active,
.link:focus,
.link:hover,
.link:link,
.link:visited {
  text-decoration: none;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.link_theme_black,
.link_theme_black:link,
.link_theme_black:visited {
  border-bottom: 1.5px solid #3c6221;
  color: #3c6221;
}

.link_theme_black:active,
.link_theme_black:focus,
.link_theme_black:hover {
  border-bottom: 1.5px solid #000;
  color: #000;
}

.nav {
  background-image: -o-linear-gradient(top, #cecece 0, #fff 10%, #fff 50%, #d8d8d8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cecece), color-stop(10%, #fff), color-stop(50%, #fff), to(#d8d8d8));
  background-image: linear-gradient(to bottom, #cecece 0, #fff 10%, #fff 50%, #d8d8d8 100%);
  -webkit-box-shadow: 0 .1em .5em rgba(0, 0, 0, .5);
          box-shadow: 0 .1em .5em rgba(0, 0, 0, .5);
  font-size: 1.1em; /* Workaround -- make larger on smaller screens */
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
}

@media (min-width: 800px) {
  .nav {
    font-size: 2vw; /* Workaround -- keep consistent with homepage sizing despite different center content widths */
  }
}

@media (min-width: 1440px) {
  .nav {
    font-size: 28.8px; /* Workaround -- keep consistent with all pages despite different center content widths */
  }
}

.nav__flex {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav__flex_icon {
  margin-right: .3em;
}

.nav__flex_link,
.nav__flex_link:focus,
.nav__flex_link:visited {
  color: #000;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  min-height: 57px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}

.nav__flex_link:active,
.nav__flex_link:hover {
  color: #808080;
}

.nav__flex_text {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.parallax_circuit-board {
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.professional-reference {
  position: relative;
}

.professional-reference__icon {
  background-color: #f8ebd8;
  border: 3px solid #000;
  border-radius: 3px;
  color: #000;
  font-size: 45px;
  padding: 10px;
  position: relative;
  z-index: 2;
}

.professional-reference__main {
  font-family: 'PT Sans', sans-serif;
  margin: -36px 0 0 36px;
  position: relative;
  z-index: 1;
}

.professional-reference__main_blockquote {
  background-color: #f8ebd8;
  border: 3px solid #000;
  border-radius: 5px;
  color: #000;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  padding: 30px 25px 65px 25px;
}

.professional-reference__main_cite {
  background-color: #401708;
  border: 3px solid #f8ebd8;
  border-radius: 5px;
  color: #f8ebd8;
  display: block;
  margin: -60px auto 50px auto;
  padding: 10px 5px 16px 5px;
  width: 85%;
}

.professional-reference__main_cite-link,
.professional-reference__main_cite-link:link,
.professional-reference__main_cite-link:visited {
  border-bottom: 1px solid #f8ebd8;
  color: #f8ebd8;
  text-decoration: none;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.professional-reference__main_cite-link:active,
.professional-reference__main_cite-link:focus,
.professional-reference__main_cite-link:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.professional-reference__main_cite-name {
  display: block;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: .25em auto .5em auto;
  text-align: center;
}

.professional-reference__main_cite-source {
  display: block;
  font-style: normal;
  text-align: center;
}

.professional-reference__main_cite-title {
  display: block;
  font-style: normal;
  text-align: center;
}

.professional-reference_flex-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 768px) {

  .professional-reference_flex-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

}

@media (min-width: 1200px) {

  .professional-reference_flex-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

}

.skills__icon {
  margin: 1.5em;
  opacity: 0; /* Invisible until animation is triggered */
}

.skills__icon_2 {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.skills__icon_3 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.skills__icon_4 {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

.skills__icon_5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.skills__icon_6 {
  -webkit-animation-delay: 1250ms;
          animation-delay: 1250ms;
}

.skills__icon_7 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.skills__icon_8 {
  -webkit-animation-delay: 1750ms;
          animation-delay: 1750ms;
}

.skills__icon_9 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

.skills__icon_10 {
  -webkit-animation-delay: 2250ms;
          animation-delay: 2250ms;
}

.skills__icon_11 {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

.skills__icon_12 {
  -webkit-animation-delay: 2750ms;
          animation-delay: 2750ms;
}

.skills__icon_13 {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}

.skills__icon_14 {
  -webkit-animation-delay: 3250ms;
          animation-delay: 3250ms;
}

.skills__icon_15 {
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

.skills__icon_effects {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: skills__icon_effects;
          animation-name: skills__icon_effects;
}

.skills__icon.skills__icon_effects {
  opacity: 1; /* Remains visible after animation is complete */
}

/* fadeInRight */
@-webkit-keyframes skills__icon_effects {
  
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

.skills__icon_img {
  display: block;
  margin: 0 auto 1em;
  max-width: 100px;
  width: 100%;
}

.skills__icon_text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  text-align: center;
}