/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.animated_expanding {
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: expanding;
          animation-name: expanding;
}

@-webkit-keyframes expanding {
  from {
    letter-spacing: 0.125em;
    word-spacing: 0.16em;
  }

  to {
    letter-spacing: 0.35em;
    word-spacing: 0.25em;
  }
}

@keyframes expanding {
  from {
    letter-spacing: 0.125em;
    word-spacing: 0.16em;
  }

  to {
    letter-spacing: 0.35em;
    word-spacing: 0.25em;
  }
}

/* fadeInDown */
@-webkit-keyframes fadeInDown {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

@keyframes fadeInDown {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

/* fadeInUp */
@-webkit-keyframes fadeInUp {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

@keyframes fadeInUp {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}