/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.button,
.button:active,
.button:focus,
.button:hover,
.button:link,
.button:visited {
  text-decoration: none;
}

.button__button-icon {
  margin-right: .75em;
}

.button__button-inner {
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  padding: 1em 0;
  text-align: center;
}

.button__button-outer {
  position: relative;
}

.button__button-outer:hover {
  cursor: pointer;
}

.button_theme_primary {
  background-image: -o-linear-gradient(top, #3c6221 0, #33531c 50%, #213612 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c6221), color-stop(50%, #33531c), to(#213612));
  background-image: linear-gradient(to bottom, #3c6221 0, #33531c 50%, #213612 100%);
  background-position: left bottom;
  background-size: 100% 200%;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.button_theme_primary:hover,
.button_theme_primary:active {
  background-position: left top;
}

.button_theme_secondary {
  background-image: -o-linear-gradient(top, #9f9f9f 0, #5a5a5a 50%, #292929 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9f9f9f), color-stop(50%, #5a5a5a), to(#292929));
  background-image: linear-gradient(to bottom, #9f9f9f 0, #5a5a5a 50%, #292929 100%);
  background-position: left top;
  background-size: 100% 200%;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.button_theme_secondary:hover,
.button_theme_secondary:active {
  background-position: left bottom;
}

@media (max-width: 575.98px) {

  .button_theme_secondary_dark-bg-sm-only {
    background-image: -o-linear-gradient(top, #fff 0, #9f9f9f 50%, #5a5a5a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(50%, #9f9f9f), to(#5a5a5a));
    background-image: linear-gradient(to bottom, #fff 0, #9f9f9f 50%, #5a5a5a 100%);
    background-position: left bottom;
    background-size: 100% 200%;
    color: #fff;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }

  .button_theme_secondary_dark-bg-sm-only:hover,
  .button_theme_secondary_dark-bg-sm-only:active {
    background-position: left top;
    color: #000;
  }

}



/* WIP */
.console__button_duo {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.console__button_duo_btn-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  margin-bottom: 2em;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  width: 100%;
}

.console__button_duo_btn-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  margin-bottom: 15px;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  width: 100%;
}

@media (min-width: 576px) {

  .console__button_duo_btn-1 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    margin-bottom: 15px;
    max-width: 50%;
    padding-right: 7.5px;
  }

  .console__button_duo_btn-2 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
    padding-left: 7.5px;
  }

}

@media (min-width: 992px) {

  .console__button_duo {
    padding: 0;
  }

}