.content__center {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.content__center_700 {
  max-width: 700px;
}

.content__center_1140 {
  max-width: 1140px;
}

.content__center_1440 {
  max-width: 1440px;
}