/* FOOTER */
.footer__copyright {
  padding: 0 15px 2rem 15px;
}

.footer__copyright_text {
  font-family: 'PT Sans', sans-serif;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  text-align: center;
}

.footer__icon {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  margin-bottom: 50px;
  max-width: 50%;
  min-height: 1px;
  position: relative;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {

  .footer__icon {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }

}

.footer__icon_effects {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: footer__icon_effects;
          animation-name: footer__icon_effects;
}

.footer__icon {
  opacity: 0; /* Invisible before animations are triggered */
}

.footer__icon.footer__icon_effects {
  opacity: 1; /* Remains visible after animations are complete */
}



/* fadeInUp */
@-webkit-keyframes footer__icon_effects {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

@keyframes footer__icon_effects {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

.footer__icon_icon {
  font-size: 57px;
  margin-bottom: 10px;
  text-align: center;
}

.footer__icon_link {
  color: #808080;
  text-decoration: none;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.footer__icon_link:active,
.footer__icon_link:hover {
  color: #fff;
}

.footer__icon_text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.footer__icon-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0 20px 0;
}

.footer_theme_black {
  background: #000;
  color: #808080;
}
/* END FOOTER */