/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.background_theme_black {
  background-color: #000;
  color: #808080;
}

.background_theme_white {
  background-color: #fff;
}

.body {
  margin: 0;
  padding: 0;
}

.code__name {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.code__snippet {
  background-color: #000;
  color: #fff;
}

.content__block {
  padding: 1.5em 0 3em 0;
}

.content__block_li {
  margin-bottom: 1.75em;
}

.content__center {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.content__center_700 {
  max-width: 700px;
}

.content__center_1140 {
  max-width: 1140px;
}

.content__center_1440 {
  max-width: 1440px;
}

.content__center_1920 {
  max-width: 1920px;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.main__list {
  font-family: 'PT Sans', sans-serif;
  margin: 0 0 1em 0;
  text-align: justify;
}

.main__text {
  font-family: 'PT Sans', sans-serif;
  margin: 0 0 1em 0;
  text-align: justify;
}