/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.background_theme_black {
  background-color: #000;
  color: #808080;
}

.background_theme_shaded {
  background: rgba(0, 0, 0, .3);
}

.background_theme_white {
  background-color: #fff;
}

.body {
  margin: 0;
  padding: 0;
}

.breadcrumbs_theme_white {
  background-color: #fff;
}

.breadcrumbs__text {
  font-family: 'PT Sans', sans-serif;
  line-height: 2em;
  margin: 0 0.6em 1em 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  text-align: left;
}

.code__name {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.content__block {
  padding: 1.5em 0 3em 0;
}

.content__block_li {
  margin-bottom: 1.75em;
}

.content__center {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

.content__center_700 {
  max-width: 700px;
}

.content__center_1140 {
  max-width: 1140px;
}

.content__center_1440 {
  max-width: 1440px;
}

.content__center_1920 {
  max-width: 1920px;
}

.content__center_vertical-inner {
  height: auto;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  width: 100%;
}

.content__center_vertical-outer {
  position: relative;
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}