/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.heading__title-left {
  margin: 0 2em;
  text-align: left;
}

.heading__title-overflow {
  margin: 0 2em;
  overflow: hidden;
  text-align: center;
}

.heading__title-tag {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.heading__title-tag_title {
  display: inline-block;
  font-weight: 300;
  position: relative;
  text-transform: uppercase;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  word-spacing: 0.25em;
}

.heading__title-tag_title::before,
.heading__title-tag_title::after {
  border-top: 1px solid #808080;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
}

.heading__title-tag_title::before {
  margin-right: 20px;
  right: 100%;
}

.heading__title-tag_title::after {
  left: 100%;
  margin-left: 1rem;
}

.heading_theme_black {
  background: #000;
  color: #808080;
  padding: 1.5rem .5rem;
}

.heading_theme_clear {
  padding: 20px 0 30px 0;
}

.heading_theme_white {
  background-color: #fff;
  padding: 20px 0 30px 0;
}