/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 575.98px) {

  .card-small__backboard_author-site {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/left-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_author-site/left-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/left-crop-576x630-blur12px-min.jpg);
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .card-small__backboard_author-site {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/left-crop-768x840-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_author-site/left-crop-768x840-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/left-crop-768x840-blur12px-min.jpg);
  }

}

@media (min-width: 768px) {

  .card-small__backboard_author-site {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/left-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_author-site/left-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/left-crop-576x630-blur12px-min.jpg);
  }

}

@media (max-width: 575.98px) {

  .card-small__backboard_my-portfolio {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/center-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_my-portfolio/center-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/center-crop-576x630-blur12px-min.jpg);
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .card-small__backboard_my-portfolio {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/center-crop-768x840-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_my-portfolio/center-crop-768x840-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/center-crop-768x840-blur12px-min.jpg);
  }

}

@media (min-width: 768px) {

  .card-small__backboard_my-portfolio {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/center-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_my-portfolio/center-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/center-crop-576x630-blur12px-min.jpg);
  }

}

@media (max-width: 575.98px) {

  .card-small__backboard_omnifood {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/left-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_omnifood/left-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/left-crop-576x630-blur12px-min.jpg);
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .card-small__backboard_omnifood {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/left-crop-768x840-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_omnifood/left-crop-768x840-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/left-crop-768x840-blur12px-min.jpg);
  }

}

@media (min-width: 768px) {

  .card-small__backboard_omnifood {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/left-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_omnifood/left-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/left-crop-576x630-blur12px-min.jpg);
  }

}

@media (max-width: 575.98px) {

  .card-small__img_author-site {
    background-image: url(../img/card-small/__img/_author-site/576x227-min.jpg);
  }

}

@media (min-width: 576px) {

  .card-small__img_author-site {
    background-image: url(../img/card-small/__img/_author-site/768x302-min.jpg);
  }

}

@media (max-width: 575.98px) {

  .card-small__img_my-portfolio {
    background-image: url(../img/card-small/__img/_my-portfolio/576x227-min.jpg);
  }

}

@media (min-width: 576px) {

  .card-small__img_my-portfolio {
    background-image: url(../img/card-small/__img/_my-portfolio/768x302-min.jpg);
  }

}

@media (max-width: 575.98px) {

  .card-small__img_omnifood {
    background-image: url(../img/card-small/__img/_omnifood/576x227-min.jpg);
  }

}

@media (min-width: 576px) {

  .card-small__img_omnifood {
    background-image: url(../img/card-small/__img/_omnifood/768x302-min.jpg);
  }

}

.background_theme_shaded {
  background: rgba(0, 0, 0, .3);
}

.body_homepage {
  margin: 0;
  padding: 0;
}

.body__project-container {
  overflow: hidden; /* Prevents the header video from going wider than the rest of the project */
  position: relative;
  width: 100%;
}

.button,
.button:active,
.button:focus,
.button:hover,
.button:link,
.button:visited {
  text-decoration: none;
}

.button__button-icon {
  margin-right: .75em;
}

.button__button-inner {
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  padding: 1em 0;
  text-align: center;
}

.button__button-outer {
  position: relative;
}

.button__button-outer:hover {
  cursor: pointer;
}

.button_theme_primary {
  background-image: -o-linear-gradient(top, #3c6221 0, #33531c 50%, #213612 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c6221), color-stop(50%, #33531c), to(#213612));
  background-image: linear-gradient(to bottom, #3c6221 0, #33531c 50%, #213612 100%);
  background-position: left bottom;
  background-size: 100% 200%;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.button_theme_primary:hover,
.button_theme_primary:active {
  background-position: left top;
}

.button_theme_secondary {
  background-image: -o-linear-gradient(top, #9f9f9f 0, #5a5a5a 50%, #292929 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9f9f9f), color-stop(50%, #5a5a5a), to(#292929));
  background-image: linear-gradient(to bottom, #9f9f9f 0, #5a5a5a 50%, #292929 100%);
  background-position: left top;
  background-size: 100% 200%;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.button_theme_secondary:hover,
.button_theme_secondary:active {
  background-position: left bottom;
}

@media (max-width: 575.98px) {

  .button_theme_secondary_dark-bg-sm-only {
    background-image: -o-linear-gradient(top, #fff 0, #9f9f9f 50%, #5a5a5a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(50%, #9f9f9f), to(#5a5a5a));
    background-image: linear-gradient(to bottom, #fff 0, #9f9f9f 50%, #5a5a5a 100%);
    background-position: left bottom;
    background-size: 100% 200%;
    color: #fff;
    -webkit-transition: 300ms ease-in-out;
    -o-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }

  .button_theme_secondary_dark-bg-sm-only:hover,
  .button_theme_secondary_dark-bg-sm-only:active {
    background-position: left top;
    color: #000;
  }

}

.header {
  min-height: 100vh;
  position: relative;
}

.header__text-overlay {
  height: auto;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  width: 100%;
}

.header__text-overlay_h1 {
  font-size: 1em; /* Overrides H1 default size */
}

.header__text-overlay_h1_main-name {
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  color: #fff;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: .5em;
  margin-bottom: .5em;
  text-align: center;
  text-shadow: .3em .3em .15em rgba(0, 0, 0, 0.9);
  z-index: 10;
}

@media (min-width: 800px) {
  .header__text-overlay_h1_main-name {
    letter-spacing: .25em;
    text-shadow: .2em .2em .1em rgba(0, 0, 0, 0.5);
  }
}

/* fadeInDown */
@-webkit-keyframes fadeInDown {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

@keyframes fadeInDown {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

.header__text-overlay_h1_main-subheading {
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  color: #fff;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: .5em;
  text-align: center;
  text-shadow: .2em .2em .2em rgba(0, 0, 0, 0.9);
  z-index: 10;
}

@media (min-width: 800px) {
  .header__text-overlay_h1_main-subheading {
    letter-spacing: .25em;
    text-shadow: .2em .2em .2em rgba(0, 0, 0, 0.7);
  }
}

/* fadeInUp */
@-webkit-keyframes fadeInUp {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

@keyframes fadeInUp {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

.header__text-overlay_h1_main-subheading_divider {
  -webkit-animation-duration: 8000ms;
          animation-duration: 8000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  color: #fff;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: .25em;
  text-align: center;
  text-shadow: .2em .2em .2em rgba(0, 0, 0, 0.9);
  z-index: 10;
}

@media (min-width: 800px) {
  .header__text-overlay_h1_main-subheading_divider {
    text-shadow: .2em .2em .2em rgba(0, 0, 0, 0.7);
  }
}

/* Background image fallback in case video doesn't load */
.header__video-background {
  background-attachment: fixed;
  background-image: url(../img/header/__video-background/tropical-1920x1080-min.jpg);
  background-position: bottom right;
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100vh;
  min-width: 100%; 
  position: fixed;
  right: 0; 
  width: auto;
  z-index: -100;
}

.header__video-background_video {
  bottom: 0;
  height: auto;
  min-height: 100vh;
  min-width: 100%; 
  position: fixed;
  right: 0; 
  width: auto;
  z-index: -100;
}

.portfolio__heading {
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .5) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .5)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .5) 100%);
  padding: 7em 0 3.5em 0;
  width: 100%;
}

.portfolio__heading_title {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: .25em;
  margin-bottom: 0;
  text-align: center;
  text-shadow: .15em .15em .15em rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  z-index: 10;
}

.professional-section__heading {
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, 1) 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .5)), to(rgba(255, 255, 255, 1)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, 1) 100%);
  padding: .38rem 0 1.75rem 0;
  width: 100%;
}

@media (min-width: 992px) {

  .professional-section__heading {
    padding: 1.5rem 0 3.5rem 0;
  }

}

.professional-section__heading_overflow {
  margin: 0 1em;
  overflow: hidden;
  text-align: center;
}

.professional-section__heading_title {
  font-family: 'Lato', sans-serif;
}

.professional-section__heading_title-text {
  color: #808080;
  display: inline;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
}

.professional-section__heading_title-text::before,
.professional-section__heading_title-text::after {
  border-top: 1px solid #555;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
}

.professional-section__heading_title-text::before {
  margin-right: 20px;
  right: 100%;
}

.professional-section__heading_title-text::after {
  left: 100%;
  margin-left: 1rem;
}

.professional-section__solid-white-bg {
  background: #fff;
  padding-bottom: 100px;
}

@media (min-width: 576px) {

  .professional-section__solid-white-bg {
    padding-bottom: 0;
  }

}

.widescreen-project:last-child {
  margin-bottom: 0;
}

@media (max-width: 575.98px) {

  .widescreen-project {
    border-radius: 5px;
    -webkit-box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.3);
    margin: 0 auto 100px auto;
    padding-bottom: 0;
    width: 95%;
  }

}

@media (min-width: 576px) {

  .widescreen-project {
    padding-bottom: 25px;
  }

}

@media (min-width: 768px) {

  .widescreen-project {
    padding-bottom: 50px;
  }

}

@media (min-width: 992px) {

  .widescreen-project {
    padding-bottom: 100px;
  }

}

@media (max-width: 575.98px) {

  .widescreen-project__backboard {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
  }

}

@media (max-width: 575.98px) {

  .widescreen-project__backboard_acura-of-tempe {
    background-image: -o-linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/widescreen-project/__backboard/_acura-of-tempe/left-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url(../img/widescreen-project/__backboard/_acura-of-tempe/left-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/widescreen-project/__backboard/_acura-of-tempe/left-crop-576x630-blur12px-min.jpg);
  }

}

@media (max-width: 575.98px) {

  .widescreen-project__backboard_bmw-el-cajon {
    background-image: -o-linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/widescreen-project/__backboard/_bmw-el-cajon/left-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url(../img/widescreen-project/__backboard/_bmw-el-cajon/left-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/widescreen-project/__backboard/_bmw-el-cajon/left-crop-576x630-blur12px-min.jpg);
  }

}

@media (max-width: 575.98px) {

  .widescreen-project__backboard_honda-new-rochelle {
    background-image: -o-linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/widescreen-project/__backboard/_honda-new-rochelle/576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url(../img/widescreen-project/__backboard/_honda-new-rochelle/576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/widescreen-project/__backboard/_honda-new-rochelle/576x630-blur12px-min.jpg);
  }

}

.widescreen-project__button-trio {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1rem 0;
}

@media (min-width: 992px) {

  .widescreen-project__button-trio {
    padding: 0;
  }

}

.widescreen-project__button-trio_btn-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  margin-bottom: 2em;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  width: 100%;
}

@media (min-width: 576px) {

  .widescreen-project__button-trio_btn-1 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    margin-bottom: 15px;
    max-width: 50%;
    padding-right: 7.5px;
  }

}

.widescreen-project__button-trio_btn-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  margin-bottom: 15px;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  width: 100%;
}

@media (min-width: 576px) {

  .widescreen-project__button-trio_btn-2 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
    padding-left: 7.5px;
  }

}

.widescreen-project__button-trio_btn-3 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  width: 100%;
}

@media (max-width: 575.98px) {

  .widescreen-project__content {
    margin: 0 auto;
    width: 90%;
  }

}

@media (min-width: 992px) {

  .widescreen-project__img_lg {
    height: 0;
    padding-bottom: 39%;
    position: relative;
    width: 100%;
  }
  
}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .widescreen-project__img_lg_acura-of-tempe {
    background: url(../img/widescreen-project/__img/_lg/_acura-of-tempe/1268x499-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (min-width: 1200px) {

  .widescreen-project__img_lg_acura-of-tempe {
    background: url(../img/widescreen-project/__img/_lg/_acura-of-tempe/1440x567-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .widescreen-project__img_lg_bmw-el-cajon {
    background: url(../img/widescreen-project/__img/_lg/_bmw-el-cajon/1268x499-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (min-width: 1200px) {

  .widescreen-project__img_lg_bmw-el-cajon {
    background: url(../img/widescreen-project/__img/_lg/_bmw-el-cajon/1440x567-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .widescreen-project__img_lg_honda-new-rochelle {
    background: url(../img/widescreen-project/__img/_lg/_honda-new-rochelle/1268x499-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (min-width: 1200px) {

  .widescreen-project__img_lg_honda-new-rochelle {
    background: url(../img/widescreen-project/__img/_lg/_honda-new-rochelle/1440x567-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (min-width: 576px) and (max-width: 991.98px) {

  .widescreen-project__img_md {
    height: 0;
    padding-bottom: 39%;
    width: 100%;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .widescreen-project__img_md_acura-of-tempe {
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/widescreen-project/__img/_md/_acura-of-tempe/768x303-min.jpg);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 1)), color-stop(10%, rgba(255, 255, 255, 0))), url(../img/widescreen-project/__img/_md/_acura-of-tempe/768x303-min.jpg);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/widescreen-project/__img/_md/_acura-of-tempe/768x303-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {

  .widescreen-project__img_md_acura-of-tempe {
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/widescreen-project/__img/_md/_acura-of-tempe/992x391-min.jpg);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 1)), color-stop(10%, rgba(255, 255, 255, 0))), url(../img/widescreen-project/__img/_md/_acura-of-tempe/992x391-min.jpg);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/widescreen-project/__img/_md/_acura-of-tempe/992x391-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .widescreen-project__img_md_bmw-el-cajon {
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/widescreen-project/__img/_md/_bmw-el-cajon/768x303-min.jpg);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 1)), color-stop(10%, rgba(255, 255, 255, 0))), url(../img/widescreen-project/__img/_md/_bmw-el-cajon/768x303-min.jpg);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/widescreen-project/__img/_md/_bmw-el-cajon/768x303-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {

  .widescreen-project__img_md_bmw-el-cajon {
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/widescreen-project/__img/_md/_bmw-el-cajon/992x391-min.jpg);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 1)), color-stop(10%, rgba(255, 255, 255, 0))), url(../img/widescreen-project/__img/_md/_bmw-el-cajon/992x391-min.jpg);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/widescreen-project/__img/_md/_bmw-el-cajon/992x391-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .widescreen-project__img_md_honda-new-rochelle {
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/widescreen-project/__img/_md/_honda-new-rochelle/768x303-min.jpg);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 1)), color-stop(10%, rgba(255, 255, 255, 0))), url(../img/widescreen-project/__img/_md/_honda-new-rochelle/768x303-min.jpg);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/widescreen-project/__img/_md/_honda-new-rochelle/768x303-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {

  .widescreen-project__img_md_honda-new-rochelle {
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/widescreen-project/__img/_md/_honda-new-rochelle/992x391-min.jpg);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 1)), color-stop(10%, rgba(255, 255, 255, 0))), url(../img/widescreen-project/__img/_md/_honda-new-rochelle/992x391-min.jpg);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/widescreen-project/__img/_md/_honda-new-rochelle/992x391-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (max-width: 575.98px) {

  .widescreen-project__img_sm {
    -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .3);
            box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .3);
    height: 0;
    padding-bottom: 39%;
    position: absolute;
    top: -20px;
    width: 100%;
  }

}

@media (max-width: 575.98px) {

  .widescreen-project__img_sm_acura-of-tempe {
    background: url(../img/widescreen-project/__img/_sm/_acura-of-tempe/576x227-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (max-width: 575.98px) {

  .widescreen-project__img_sm_bmw-el-cajon {
    background: url(../img/widescreen-project/__img/_sm/_bmw-el-cajon/576x227-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (max-width: 575.98px) {

  .widescreen-project__img_sm_honda-new-rochelle {
    background: url(../img/widescreen-project/__img/_sm/_honda-new-rochelle/576x227-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

@media (max-width: 575.98px) {

  .widescreen-project__img-riser {
    height: 0;
    margin: 0 auto .5em auto;
    padding-bottom: 39%;
    position: relative;
  }

}

.widescreen-project__info-module {
  padding: 1em 0 0 0;
}

@media (min-width: 576px) {

  .widescreen-project__info-module {
    background: #fff;
    border: none;
    color: #000;
    margin: -3.5% auto 0 auto;
    padding: .75rem 1rem;
    width: 85%;
  }

}

@media (min-width: 992px) {

  .widescreen-project__info-module {
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: .5em;
    position: absolute;
    width: 34%;
  }
  
}

@media (min-width: 992px) {

  .widescreen-project__info-module_left {
    left: 3%;
  }
  
}

@media (min-width: 992px) {

  .widescreen-project__info-module_right {
    right: 3%;
  }
  
}

.widescreen-project__info-module_text {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}

@media (min-width: 576px) {

  .widescreen-project__info-module_text {
    color: #000;
  }

}

.widescreen-project__title {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0 0 16px 0;
  text-align: center;
}

@media (min-width: 576px) {

  .widescreen-project__title {
    color: #808080;
    margin: 0;
  }

}

@media (min-width: 576px) {

  .widescreen-project__title-box {
    background: #fff;
    color: #000;
    margin: 0 auto -2.25% auto;
    padding: .25em 1em;
    position: relative;
    width: 85%; /* Fallback */
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    z-index: 2;
  }

}