/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* FROM AUTHOR SITE */

@charset "UTF-8";

/* ANIMATIONS */
/* Probably move this to the animation.css file, and differentiate its naming conventions. */
.animated {
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes expanding {
  from {
    letter-spacing: 0.125em;
    word-spacing: 0.16em;
  }

  to {
    letter-spacing: 0.35em;
    word-spacing: 0.25em;
  }
}

@keyframes expanding {
  from {
    letter-spacing: 0.125em;
    word-spacing: 0.16em;
  }

  to {
    letter-spacing: 0.35em;
    word-spacing: 0.25em;
  }
}

.expanding {
  -webkit-animation-name: expanding;
          animation-name: expanding;
}




.body__project-container {
  overflow: hidden; /* Prevents the header video from going wider than the rest of the project */
  position: relative;
  width: 100%;
}

.header {
  min-height: 100vh;
}

.header__text-overlay {
  margin: 0 auto 3rem auto;
  text-align: center;
}

.header__text-overlay_h1_main-name {
  color: #fff;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1em; /* Carried over from author site */
  margin-bottom: .5em;
  text-align: center;
  text-shadow: .3em .3em .15em rgba(0, 0, 0, 0.9);
  z-index: 10;
}

@media (min-width: 800px) {
  .header__text-overlay_h1_main-name {
    text-shadow: .2em .2em .1em rgba(0, 0, 0, 0.5);
  }
}

.header__text-overlay_h1_main-subheading {
  color: #fff;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  text-shadow: .2em .2em .2em rgba(0, 0, 0, 0.9);
  z-index: 10;
}

@media (min-width: 800px) {
  .header__text-overlay_h1_main-subheading {
    text-shadow: .2em .2em .2em rgba(0, 0, 0, 0.7);
  }
}

/* Background image fallback in case video doesn't load */
.header__video-background {
  background-attachment: fixed;
  background-image: url(../img/header/__video-background/tropical-1920x1080-min.jpg);
  background-position: bottom right;
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100vh;
  min-width: 100%; 
  position: fixed;
  right: 0; 
  width: auto;
  z-index: -100;
}

.header__video-background_video {
  bottom: 0;
  height: auto;
  min-height: 100vh;
  min-width: 100%; 
  position: fixed;
  right: 0; 
  width: auto;
  z-index: -100;
}