/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (max-width: 575.98px) {

  .card-small__backboard_global-click-tracking {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/left-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_author-site/left-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/left-crop-576x630-blur12px-min.jpg);
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .card-small__backboard_global-click-tracking {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/left-crop-768x840-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_author-site/left-crop-768x840-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/left-crop-768x840-blur12px-min.jpg);
  }

}

@media (min-width: 768px) {

  .card-small__backboard_global-click-tracking {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/left-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_author-site/left-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/left-crop-576x630-blur12px-min.jpg);
  }

}

@media (max-width: 575.98px) {

  .card-small__backboard_my-portfolio {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/center-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_my-portfolio/center-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/center-crop-576x630-blur12px-min.jpg);
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .card-small__backboard_my-portfolio {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/center-crop-768x840-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_my-portfolio/center-crop-768x840-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/center-crop-768x840-blur12px-min.jpg);
  }

}

@media (min-width: 768px) {

  .card-small__backboard_my-portfolio {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/center-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_my-portfolio/center-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/center-crop-576x630-blur12px-min.jpg);
  }

}

@media (max-width: 575.98px) {

  .card-small__backboard_omnifood {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/left-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_omnifood/left-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/left-crop-576x630-blur12px-min.jpg);
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .card-small__backboard_omnifood {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/left-crop-768x840-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_omnifood/left-crop-768x840-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/left-crop-768x840-blur12px-min.jpg);
  }

}

@media (min-width: 768px) {

  .card-small__backboard_omnifood {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/left-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_omnifood/left-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/left-crop-576x630-blur12px-min.jpg);
  }

}

@media (max-width: 575.98px) {

  .card-small__img_author-site {
    background-image: url(../img/card-small/__img/_author-site/576x227-min.jpg);
  }

}

@media (min-width: 576px) {

  .card-small__img_author-site {
    background-image: url(../img/card-small/__img/_author-site/768x302-min.jpg);
  }

}

@media (max-width: 575.98px) {

  .card-small__img_my-portfolio {
    background-image: url(../img/card-small/__img/_my-portfolio/576x227-min.jpg);
  }

}

@media (min-width: 576px) {

  .card-small__img_my-portfolio {
    background-image: url(../img/card-small/__img/_my-portfolio/768x302-min.jpg);
  }

}

@media (max-width: 575.98px) {

  .card-small__img_omnifood {
    background-image: url(../img/card-small/__img/_omnifood/576x227-min.jpg);
  }

}

@media (min-width: 576px) {

  .card-small__img_omnifood {
    background-image: url(../img/card-small/__img/_omnifood/768x302-min.jpg);
  }

}

/* Homepage and MarTech Hub: This can probably move to global.css or something */
.background_theme_shaded {
  background: rgba(0, 0, 0, .3);
}

