/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.body {
  margin: 0;
}

.code__name {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.code__snippet {
  background-color: #000;
  color: #fff;
}

.content__block {
  padding: 1.5em 0 3em 0;
}

.content__block_li {
  margin-bottom: 1.75em;
}

.link,
.link:active,
.link:focus,
.link:hover,
.link:link,
.link:visited {
  text-decoration: none;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.link_theme_black,
.link_theme_black:link,
.link_theme_black:visited {
  border-bottom: 1.5px solid #3c6221;
  color: #3c6221;
}

.link_theme_black:active,
.link_theme_black:focus,
.link_theme_black:hover {
  border-bottom: 1.5px solid #000;
  color: #000;
}

.main__list {
  font-family: 'PT Sans', sans-serif;
  margin: 0 0 1em 0;
  text-align: justify;
}

.main__text {
  font-family: 'PT Sans', sans-serif;
  margin: 0 0 1em 0;
  text-align: justify;
}

.martech-header__img {
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  height: 150px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.martech-header__img_wild-water {
  background-image: url(../img/martech/wild-water/wild-water-1920x150.jpg);
}