/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.code__name {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.code__snippet {
  background-color: #000;
  color: #fff;
}

.content__block {
  padding: 1.5em 0 3em 0;
}

.content__block_li {
  margin-bottom: 1.75em;
}

.link,
.link:active,
.link:focus,
.link:hover,
.link:link,
.link:visited {
  text-decoration: none;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

.link_theme_black,
.link_theme_black:link,
.link_theme_black:visited {
  border-bottom: 1.5px solid #3c6221;
  color: #3c6221;
}

.link_theme_black:active,
.link_theme_black:focus,
.link_theme_black:hover {
  border-bottom: 1.5px solid #000;
  color: #000;
}

.main__list {
  font-family: 'PT Sans', sans-serif;
  margin: 0 0 1em 0;
  text-align: justify;
}

.main__text {
  font-family: 'PT Sans', sans-serif;
  margin: 0 0 1em 0;
  text-align: justify;
}

.martech-header__img {
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0 0 8% 0;
  position: relative;
  width: 100%;
}

@media (max-width: 575.98px) {
  .martech-header__img_swimming-pool-water-overhead {
    background-image: url(../img/martech/swimming-pool-water-overhead/swimming-pool-water-overhead-768x60-min.jpg);
  }
  
  .martech-header__img_wild-water {
    background-image: url(../img/martech/wild-water/wild-water-768x60-min.jpg);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .martech-header__img_swimming-pool-water-overhead {
    background-image: url(../img/martech/swimming-pool-water-overhead/swimming-pool-water-overhead-1440x112-min.jpg);
  }
  
  .martech-header__img_wild-water {
    background-image: url(../img/martech/wild-water/wild-water-1440x112-min.jpg);
  }
}

@media (min-width: 768px) {
  .martech-header__img_swimming-pool-water-overhead {
    background-image: url(../img/martech/swimming-pool-water-overhead/swimming-pool-water-overhead-1920x150-min.jpg);
  }
  
  .martech-header__img_wild-water {
    background-image: url(../img/martech/wild-water/wild-water-1920x150-min.jpg);
  }
}