/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.martech-header__img {
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0 0 8% 0;
  position: relative;
  width: 100%;
}

@media (max-width: 575.98px) {
  .martech-header__img_birds-flying {
    background-image: url(../img/martech/birds-flying/768x60-min.jpg);
  }

  .martech-header__img_canyon-night-sky {
    background-image: url(../img/martech/canyon-night-sky/768x60-min.jpg);
  }

  .martech-header__img_leaf-venules {
    background-image: url(../img/martech/leaf-venules/768x60-min.jpg);
  }

  .martech-header__img_swimming-pool-water-overhead {
    background-image: url(../img/martech/swimming-pool-water-overhead/768x60-min.jpg);
  }

  .martech-header__img_waterfall-cascade {
    background-image: url(../img/martech/waterfall-cascade/768x60-min.jpg);
  }
  
  .martech-header__img_wild-water {
    background-image: url(../img/martech/wild-water/768x60-min.jpg);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .martech-header__img_birds-flying {
    background-image: url(../img/martech/birds-flying/1440x113-min.jpg);
  }
  
  .martech-header__img_canyon-night-sky {
    background-image: url(../img/martech/canyon-night-sky/1440x113-min.jpg);
  }
  
  .martech-header__img_leaf-venules {
    background-image: url(../img/martech/leaf-venules/1440x113-min.jpg);
  }
  
  .martech-header__img_swimming-pool-water-overhead {
    background-image: url(../img/martech/swimming-pool-water-overhead/1440x112-min.jpg);
  }
  
  .martech-header__img_waterfall-cascade {
    background-image: url(../img/martech/waterfall-cascade/1440x112-min.jpg);
  }
  
  .martech-header__img_wild-water {
    background-image: url(../img/martech/wild-water/1440x112-min.jpg);
  }
}

@media (min-width: 768px) {
  .martech-header__img_birds-flying {
    background-image: url(../img/martech/birds-flying/1920x150-min.jpg);
  }
  
  .martech-header__img_canyon-night-sky {
    background-image: url(../img/martech/canyon-night-sky/1920x150-min.jpg);
  }
  
  .martech-header__img_leaf-venules {
    background-image: url(../img/martech/leaf-venules/1920x150-min.jpg);
  }
  
  .martech-header__img_swimming-pool-water-overhead {
    background-image: url(../img/martech/swimming-pool-water-overhead/1920x150-min.jpg);
  }
  
  .martech-header__img_waterfall-cascade {
    background-image: url(../img/martech/waterfall-cascade/1920x150-min.jpg);
  }
  
  .martech-header__img_wild-water {
    background-image: url(../img/martech/wild-water/1920x150-min.jpg);
  }
}