/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.body__project-container {
  overflow: hidden; /* Prevents the header video from going wider than the rest of the project */
  position: relative;
  width: 100%;
}

/* Background image fallback in case video doesn't load */
.background__video {
  background-attachment: fixed;
  background-image: url(../video/tropical-1920x1080-min.jpg);
  background-position: bottom right;
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100vh;
  min-width: 100%; 
  position: fixed;
  right: 0; 
  width: auto;
  z-index: -100;
}

.background__video_video {
  bottom: 0;
  height: auto;
  min-height: 100vh;
  min-width: 100%; 
  position: fixed;
  right: 0; 
  width: auto;
  z-index: -100;
}

.professional-section__solid-white-bg {
  background: #fff;
  padding-bottom: 1px; /* Allows the white background to extend to the height of the card's margin-bottom. */
}

@media (max-width: 575.98px) {

  .card-small__backboard_author-site {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_author-site/576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/576x630-blur12px-min.jpg);
  }

  .card-small__backboard_my-portfolio {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_my-portfolio/576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/576x630-blur12px-min.jpg);
  }

  .card-small__backboard_omnifood {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_omnifood/576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/576x630-blur12px-min.jpg);
  }

  .card-small__img_author-site {
    background-image: url(../img/card-small/__img/_author-site/576x227-min.jpg);
  }

  .card-small__img_my-portfolio {
    background-image: url(../img/card-small/__img/_my-portfolio/576x227-min.jpg);
  }

  .card-small__img_omnifood {
    background-image: url(../img/card-small/__img/_omnifood/576x227-min.jpg);
  }

  .card-widescreen__backboard_acura-of-tempe {
    background-image: -o-linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/card-widescreen/__backboard/_acura-of-tempe/576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url(../img/card-widescreen/__backboard/_acura-of-tempe/576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/card-widescreen/__backboard/_acura-of-tempe/576x630-blur12px-min.jpg);
  }

  .card-widescreen__backboard_bmw-el-cajon {
    background-image: -o-linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/card-widescreen/__backboard/_bmw-el-cajon/576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url(../img/card-widescreen/__backboard/_bmw-el-cajon/576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/card-widescreen/__backboard/_bmw-el-cajon/576x630-blur12px-min.jpg);
  }

  .card-widescreen__backboard_honda-new-rochelle {
    background-image: -o-linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/card-widescreen/__backboard/_honda-new-rochelle/576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .5))), url(../img/card-widescreen/__backboard/_honda-new-rochelle/576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/card-widescreen/__backboard/_honda-new-rochelle/576x630-blur12px-min.jpg);
  }

  .card-widescreen__img_sm_acura-of-tempe {
    background-image: url(../img/card-widescreen/__img/_sm/_acura-of-tempe/576x227-min.jpg);
  }

  .card-widescreen__img_sm_bmw-el-cajon {
    background-image: url(../img/card-widescreen/__img/_sm/_bmw-el-cajon/576x227-min.jpg);
  }

  .card-widescreen__img_sm_honda-new-rochelle {
    background-image: url(../img/card-widescreen/__img/_sm/_honda-new-rochelle/576x227-min.jpg);
  }

  .professional-section__solid-white-bg {
    padding-top: 75px;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .card-small__backboard_author-site {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/768x840-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_author-site/768x840-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/768x840-blur12px-min.jpg);
  }

  .card-small__backboard_my-portfolio {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/768x840-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_my-portfolio/768x840-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/768x840-blur12px-min.jpg);
  }

  .card-small__backboard_omnifood {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/768x840-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_omnifood/768x840-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/768x840-blur12px-min.jpg);
  }

  .card-small__img_author-site {
    background-image: url(../img/card-small/__img/_author-site/768x302-min.jpg);
  }

  .card-small__img_my-portfolio {
    background-image: url(../img/card-small/__img/_my-portfolio/768x302-min.jpg);
  }

  .card-small__img_omnifood {
    background-image: url(../img/card-small/__img/_omnifood/768x302-min.jpg);
  }

  .card-widescreen__img_md_acura-of-tempe {
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/card-widescreen/__img/_md/_acura-of-tempe/768x303-min.jpg);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 1)), color-stop(10%, rgba(255, 255, 255, 0))), url(../img/card-widescreen/__img/_md/_acura-of-tempe/768x303-min.jpg);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/card-widescreen/__img/_md/_acura-of-tempe/768x303-min.jpg);
  }

  .card-widescreen__img_md_bmw-el-cajon {
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/card-widescreen/__img/_md/_bmw-el-cajon/768x303-min.jpg);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 1)), color-stop(10%, rgba(255, 255, 255, 0))), url(../img/card-widescreen/__img/_md/_bmw-el-cajon/768x303-min.jpg);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/card-widescreen/__img/_md/_bmw-el-cajon/768x303-min.jpg);
  }

  .card-widescreen__img_md_honda-new-rochelle {
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/card-widescreen/__img/_md/_honda-new-rochelle/768x303-min.jpg);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 1)), color-stop(10%, rgba(255, 255, 255, 0))), url(../img/card-widescreen/__img/_md/_honda-new-rochelle/768x303-min.jpg);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/card-widescreen/__img/_md/_honda-new-rochelle/768x303-min.jpg);
  }

}

@media (min-width: 768px) {

  .card-small__backboard_author-site {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_author-site/576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_author-site/576x630-blur12px-min.jpg);
  }

  .card-small__backboard_my-portfolio {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_my-portfolio/576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_my-portfolio/576x630-blur12px-min.jpg);
  }

  .card-small__backboard_omnifood {
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/576x630-blur12px-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(../img/card-small/__backboard/_omnifood/576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/card-small/__backboard/_omnifood/576x630-blur12px-min.jpg);
  }

  .card-small__img_author-site {
    background-image: url(../img/card-small/__img/_author-site/768x302-min.jpg);
  }

  .card-small__img_my-portfolio {
    background-image: url(../img/card-small/__img/_my-portfolio/768x302-min.jpg);
  }

  .card-small__img_omnifood {
    background-image: url(../img/card-small/__img/_omnifood/768x302-min.jpg);
  }

  .card-widescreen__img_md_acura-of-tempe {
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/card-widescreen/__img/_md/_acura-of-tempe/992x391-min.jpg);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 1)), color-stop(10%, rgba(255, 255, 255, 0))), url(../img/card-widescreen/__img/_md/_acura-of-tempe/992x391-min.jpg);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/card-widescreen/__img/_md/_acura-of-tempe/992x391-min.jpg);
  }

  .card-widescreen__img_md_bmw-el-cajon {
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/card-widescreen/__img/_md/_bmw-el-cajon/992x391-min.jpg);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 1)), color-stop(10%, rgba(255, 255, 255, 0))), url(../img/card-widescreen/__img/_md/_bmw-el-cajon/992x391-min.jpg);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/card-widescreen/__img/_md/_bmw-el-cajon/992x391-min.jpg);
  }

  .card-widescreen__img_md_honda-new-rochelle {
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/card-widescreen/__img/_md/_honda-new-rochelle/992x391-min.jpg);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(255, 255, 255, 1)), color-stop(10%, rgba(255, 255, 255, 0))), url(../img/card-widescreen/__img/_md/_honda-new-rochelle/992x391-min.jpg);
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/card-widescreen/__img/_md/_honda-new-rochelle/992x391-min.jpg);
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .card-widescreen__img_lg_acura-of-tempe {
    background-image: url(../img/card-widescreen/__img/_lg/_acura-of-tempe/1268x499-min.jpg);
  }

  .card-widescreen__img_lg_bmw-el-cajon {
    background-image: url(../img/card-widescreen/__img/_lg/_bmw-el-cajon/1268x499-min.jpg);
  }

  .card-widescreen__img_lg_honda-new-rochelle {
    background-image: url(../img/card-widescreen/__img/_lg/_honda-new-rochelle/1268x499-min.jpg);
  }

}

@media (min-width: 1200px) {
  
  .card-widescreen__img_lg_acura-of-tempe {
    background-image: url(../img/card-widescreen/__img/_lg/_acura-of-tempe/1440x567-min.jpg);
  }

  .card-widescreen__img_lg_bmw-el-cajon {
    background-image: url(../img/card-widescreen/__img/_lg/_bmw-el-cajon/1440x567-min.jpg);
  }

  .card-widescreen__img_lg_honda-new-rochelle {
    background-image: url(../img/card-widescreen/__img/_lg/_honda-new-rochelle/1440x567-min.jpg);
  }

}