html {
	/*font-size: 20px;*/
}

html,
body,
.carousel-inner,
.carousel-item,
.active {
	height: 100%;
}

.carousel-caption {
    height: 100%;
    padding-top: 7rem;
}

.btn-outline-primary {
	color: #fff !important;
	border: #fff solid 5px !important;
	font-size: 2rem;
}