html {
	/*font-size: 20px;*/
}

html,
body,
.container-fluid,
.carousel-inner,
.carousel-item,
.active {
	height: 100%;
}

.major-text {
    height: 95%;
    padding-top: 11rem;
}

.carousel-caption h1 {
	font-size: 6rem;
	font-weight: 300;
	letter-spacing: 1.3rem;
	text-shadow: 9px 9px 8px #4C4C4C;
}

.carousel-caption h2 {
	font-size: 4rem;
	font-weight: 300;
	text-shadow: 9px 9px 8px #4C4C4C;
}

.btn-outline-primary {
	color: #fff !important;
	border: #fff solid 5px !important;
	font-size: 2rem;
}

.minor-text {
	height: 5%;
}

.footer-copyright {
	z-index: 500 !important;
	/*color: #fff;*/
}