@media (max-width: 575.98px) {

  .additional-sample__backboard_omnifood {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(left-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(left-crop-576x630-blur12px-min.jpg);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(left-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(left-crop-576x630-blur12px-min.jpg);
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .additional-sample__backboard_omnifood {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(left-crop-768x840-blur12px-min.jpg);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(left-crop-768x840-blur12px-min.jpg);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(left-crop-768x840-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(left-crop-768x840-blur12px-min.jpg);
  }

}

@media (min-width: 768px) {

  .additional-sample__backboard_omnifood {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, .75)), to(rgba(255, 255, 255, .75))), url(left-crop-576x630-blur12px-min.jpg);
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(left-crop-576x630-blur12px-min.jpg);
    background-image: -o-linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(left-crop-576x630-blur12px-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(left-crop-576x630-blur12px-min.jpg);
  }

}